<template name="footer">
<footer>
    <div class="container-fluid foot_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-muted">
                    Meteor Boilerplate Template
                </div>
                <div class="col-md-6 text-center text-muted">
                    Made with &nbsp;<i class="fa fa-heart"></i>&nbsp; in Vancouver by <a href="http://altapp.ca" class="altapp">Altapp</a>
                </div>
                <div class="col-md-3 text-right text-muted">
                    &copy;&nbsp;&nbsp;Altapp 2014&nbsp;&nbsp;&middot;&nbsp;&nbsp;All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>
</template>