@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Open+Sans:400italic,400,300,600,700,800|Open+Sans+Condensed:300,700");


// ------------------------------------------------------------------
// Bootstrap
// ------------------------------------------------------------------

$icon-font-path: '/packages/reywood:bootstrap3-sass/assets/fonts/bootstrap/';

@function font-url($url) {
    @return url('#{$url}')
}

// Core variables and mixins
@import "variables";
@import "packages/bootstrap3-sass/bootstrap";

// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/mixins";

// // Reset
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/normalize";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/print";

// // Core CSS
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/scaffolding";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/type";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/code";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/grid";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/tables";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/forms";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/buttons";

// // Components
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/component-animations";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/glyphicons";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/dropdowns";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/button-groups";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/input-groups";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/navs";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/navbar";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/breadcrumbs";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/pagination";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/pager";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/labels";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/badges";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/jumbotron";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/thumbnails";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/alerts";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/progress-bars";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/media";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/list-group";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/panels";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/wells";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/close";

// // Components w/ JavaScript
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/modals";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/tooltip";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/popovers";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/carousel";

// // Utility classes
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/utilities";
// @import "packages/bootstrap3-sass/assets/stylesheets/bootstrap/responsive-utilities";



// ------------------------------------------------------------------
// Font Awesome
// ------------------------------------------------------------------

@import ".meteor/local/build/programs/server/assets/packages/reywood_font-awesome-sass/font-awesome";


// ------------------------------------------------------------------
// Packages
// ------------------------------------------------------------------

@import "packages/alerts/alerts";



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

i.fa.fa-heart {
    color: #d9534f;
}

